$sidebar-bg: #2C2F33;
$sidebar-logo: #FFFFFF;
$searchbar-bg: $sidebar-bg;

$neutral-1: #FFFFFF;
$neutral-2: #94979A;

$primary-1: rgba(210, 77, 77);

$red: #DA584B;
$yellow: #E5B454;
$blue: #2F61BF;
$green: #70B252;
$white: $neutral-1;