@use '../../styles/variables';

.sidebar{
    position: absolute;
    width: 232px;
    height: 836px;
    left: 32px;
    top: 32px;
    border-radius: 24px;

    /* neutral.4 */

    background: variables.$sidebar-bg;
}

.sidebar-logo{
    position: absolute;
    width: 40px;
    height: 40px;
    left: calc(50% - 40px/2);
    top: 12px;

    color: variables.$sidebar-logo;
}

.sidebar-tab-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 232px;
    height: 120px;
    left: 0px;
    top: 96px;
}

.sidebar-tab{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 19px;
    gap: 16px;

    width: 232px;
    height: 56px;

    flex: none;
    order: 2;
    flex-grow: 0;

    &:hover{        
        background: linear-gradient(90deg, rgba(186, 37, 37, 0) 0%, rgba(210, 77, 77, 0.1) 100%);
        .sidebar-tab-title, .sidebar-tab-icon{
            color: variables.$primary-1;
        }

        // .sidebar-tab-rectangle{
        //     background: rgba(210, 77, 77);
        //     opacity: 1;
        // }
    }
}

.sidebar-tab-icon{
    width: 24px;
    height: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.sidebar-tab-title{
    width: 153px;
    height: 24px;

    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;

    display: flex;
    align-items: center;
    letter-spacing: 0.75px;

    color: variables.$neutral-2;

    flex: none;
    order: 1;
    flex-grow: 1;
}

.sidebar-tab-rectangle{
    width: 4px;
    height: 56px;

    background: variables.$neutral-2;
    opacity: 0;

    flex: none;
    order: 2;
    flex-grow: 0;
}

.sidebar-link{
    text-decoration: none;
    .sidebar-tab-title, .sidebar-tab-icon{
        color: variables.$neutral-2;
    }
    &:focus, &:hover, &:visited, &:link, &:active {
        text-decoration: none;
    }

    &.active{
        .sidebar-tab-title, .sidebar-tab-icon{
            color: variables.$primary-1;
        }

        .sidebar-tab-rectangle{
            background: variables.$primary-1;
            opacity: 1;
        }
    }
}